/**
 * JustGlow Windows Resource File
 *
 * Contains version info and PiPL (Plugin Property List).
 */

#include <windows.h>

/**
 * PiPL Resource - Plugin Property List
 * This tells After Effects about the plugin's capabilities including GPU support.
 * Resource Type: "PiPL", ID: 16000
 */
16000 PiPL DISCARDABLE
BEGIN
    0x0001,                             // Version
    0x0000,                             // Reserved

    12L,                                // Property count

    // Property 1: Kind = AEEffect
    0x4B696E64L,                        // 'Kind'
    0x00000000L,                        // Index
    0x00000004L,                        // Length
    0x65464B54L,                        // 'eFKT'

    // Property 2: Name
    0x4E616D65L,                        // 'Name'
    0x00000000L,                        // Index
    0x0000000CL,                        // Length (12 bytes, padded)
    0x4A757374L,                        // 'Just'
    0x476C6F77L,                        // 'Glow'
    0x00000000L,                        // null + padding

    // Property 3: Category
    0x43617467L,                        // 'Catg'
    0x00000000L,                        // Index
    0x00000008L,                        // Length (8 bytes)
    0x5374796CL,                        // 'Styl'
    0x697A6500L,                        // 'ize\0'

    // Property 4: CodeWin64X86 Entry Point
    0x77783836L,                        // 'wx86'
    0x00000000L,                        // Index
    0x0000000CL,                        // Length
    0x45666665L,                        // 'Effe'
    0x63744D61L,                        // 'ctMa'
    0x696E0000L,                        // 'in\0\0'

    // Property 5: AE_PiPL_Version
    0x65465850L,                        // 'eFXP' (AE_PiPL_Version)
    0x00000000L,                        // Index
    0x00000004L,                        // Length
    0x00020000L,                        // Version 2.0

    // Property 6: AE_Effect_Spec_Version
    0x65465853L,                        // 'eFXS'
    0x00000000L,                        // Index
    0x00000004L,                        // Length
    0x000D0004L,                        // Major.Minor

    // Property 7: AE_Effect_Version
    0x6546564EL,                        // 'eFVN'
    0x00000000L,                        // Index
    0x00000004L,                        // Length
    0x00010000L,                        // 1.0.0

    // Property 8: AE_Effect_Info_Flags
    0x65464946L,                        // 'eFIF'
    0x00000000L,                        // Index
    0x00000004L,                        // Length
    0x00000000L,                        // Flags = 0

    // Property 9: AE_Effect_Global_OutFlags
    0x65464F46L,                        // 'eFOF'
    0x00000000L,                        // Index
    0x00000004L,                        // Length
    0x06000000L,                        // OutFlags (deep color, pix independent)

    // Property 10: AE_Effect_Global_OutFlags_2 ** CRITICAL FOR GPU **
    0x654F4632L,                        // 'eOF2'
    0x00000000L,                        // Index
    0x00000004L,                        // Length
    0x2A001400L,                        // OutFlags2 (GPU_RENDER_F32 | DIRECTX | SMART_RENDER | etc)

    // Property 11: AE_Effect_Match_Name
    0x65464D4EL,                        // 'eFMN'
    0x00000000L,                        // Index
    0x00000014L,                        // Length (20 bytes)
    0x636F6D2EL,                        // 'com.'
    0x6A757374L,                        // 'just'
    0x676C6F77L,                        // 'glow'
    0x2E656666L,                        // '.eff'
    0x65637400L,                        // 'ect\0'

    // Property 12: AE_Reserved_Info
    0x65465244L,                        // 'eFRD'
    0x00000000L,                        // Index
    0x00000004L,                        // Length
    0x00000000L                         // Reserved = 0
END

/* Version Information */
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L          /* VOS_NT_WINDOWS32 */
 FILETYPE 0x2L            /* VFT_DLL */
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"  /* US English, Unicode */
        BEGIN
            VALUE "CompanyName", "JustGlow"
            VALUE "FileDescription", "JustGlow - High Quality GPU Glow Effect"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "JustGlow"
            VALUE "LegalCopyright", "Copyright (C) 2025"
            VALUE "OriginalFilename", "JustGlow.aex"
            VALUE "ProductName", "JustGlow"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200  /* US English, Unicode */
    END
END
